 *{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
nav {
  overflow: hidden;
  height: 30px;
  border-bottom: 1px solid grey;
}
nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
nav a:hover {
  background-color: grey;
}
.main{
  display: flex;
}
.sid{
  background-color: #fff;
  overflow: hidden;
  height: 100vh;
  margin: 0; 
  padding: 0;
  top: 0;
  padding-right: 2%;

}
.sidr{
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: black;
  cursor: ew-resize;

  top: 0;
  right: 0;
  
}
.sidebar{
  position: relative;
display: flex;
width: 19%;
}
.DNA-data{
  margin-left: 10px;
  width: 200px;
}
.DNA-data a{
  display: flex;
  margin-left: 20px;
  margin-bottom: 7px;
  width: fit-content;
  flex-wrap: wrap;
}
.sidebar h3{
  margin-left: 10px;
  color: black;
  cursor: pointer;
}
.RNA-data{
  margin-left: 10px;
}
.RNA-data a{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-left: 20px;
  width: fit-content;
  flex-wrap: wrap;
}
/* Add this new CSS for the resizable handle */


.mainss{ 
  width: 100%;
  height: 100vh;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0; 
  padding: 0;
  display: grid;
  
  place-items: center;
}
.mainss img{
  width: 700px;
  height: 600px;
}
.Mainscreen{
  width: 100%;
  height: 100vh;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0; 
  padding: 0;
}
.Mainscreen-data{
  display: flex;
  width: 100%;
  height: 70%;
}
.Mainscreen-data-input{
  width: 70%;
  height: 100%;
}
.NC-inputfield{
  display: flex;
  align-items: center;
  justify-content: center;
}
.NC-inputfield label{
  margin-top: 150px;
  margin-right: 30px;
}
.NC-inputfield textarea{
  resize: none;
  margin-top: 150px;
  width: 300px;
  height: 100px;
}
.NC-buttons{
  margin-left: 548px;
}
.NC-buttons input{
  margin-top: 10px;
  width: 50px;
  height: 20px;
}
.NC-buttons button{
  width: 50px;
  height: 20px;
}
.Complementary-inputfield{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Complementary-inputfield label{
  margin-top: 150px;
  margin-right: 30px;
}
.Complementary-inputfield textarea{
  resize: none;
  margin-top: 150px;
  width: 300px;
  height: 100px;
}
.Complementary-buttons{
  margin-left: 530px;
}
.Complementary-buttons input{
  margin-top: 10px;
  width: 50px;
  height: 20px;
}
.Complementary-buttons button{
  width: 50px;
  height: 20px;
}
.Transcription-inputfield{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Transcription-inputfield label{
  margin-top: 150px;
  margin-right: 30px;
}
.Transcription-inputfield textarea{
  resize: none;
  margin-top: 150px;
  width: 300px;
  height: 100px;
}
.Transcription-buttons{
  margin-left: 543px;
}
.Transcription-buttons input{
  margin-top: 10px;
  width: 50px;
  height: 20px;
}
.Transcription-buttons button{
  width: 50px;
  height: 20px;
}
.GC-inputfield{
  display: flex;
  align-items: center;
  justify-content: center;
}
.GC-inputfield label{
  margin-top: 150px;
  margin-right: 30px;
}
.GC-inputfield textarea{
  resize: none;
  margin-top: 150px;
  width: 300px;
  height: 100px;
}
.GC-buttons{
  margin-left: 543px;
}
.GC-buttons input{
  margin-top: 10px;
  width: 50px;
  height: 20px;
}
.GC-buttons button{
  width: 50px;
  height: 20px;
}
.DM-inputfield{
  display: flex;
  align-items: center;
  justify-content: center;
}
.DM-inputfield label{
  margin-top: 150px;
  margin-right: 30px;
}
.DM-inputfield textarea{
  resize: none;
  margin-top: 150px;
  width: 300px;
  height: 100px;
}
.DM-buttons{
  margin-left: 543px;
}
.DM-buttons input{
  margin-top: 10px;
  width: 50px;
  height: 20px;
}
.DM-buttons button{
  width: 50px;
  height: 20px;
}

.Translation-inputfield{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Translation-inputfield label{
  margin-top: 150px;
  margin-right: 30px;
}
.Translation-inputfield textarea{
  resize: none;
  margin-top: 150px;
  width: 300px;
  height: 100px;
}
.Translation-buttons{
  margin-left: 543px;
}
.Translation-buttons input{
  margin-top: 10px;
  width: 50px;
  height: 20px;
}
.Translation-buttons button{
  width: 50px;
  height: 20px;
}
.Mainscreen-data-code{
  width: 30%;
  height: 100%;
}
.Mainscreen-data-code textarea{
  resize: none;
  border: 1px solid #fff;
}
.NC-data-code{
  display: none;
  width: 30%;
  height: 100%;
}
.NC-data-code textarea{
  resize: none;
  border: 1px solid #fff;
}
.Complementary-data-code{
  display: none;
  width: 30%;
  height: 100%;
}
.Complementary-data-code textarea{
  resize: none;
  border: 1px solid #fff;
}
.GC-data-code{
  display: none;
  width: 30%;
  height: 100%;
}
.GC-data-code textarea{
  resize: none;
  border: 1px solid #fff;
}
.Transcription-data-code{
  display: none;
  width: 30%;
  height: 100%;
}
.Transcription-data-code textarea{
  resize: none;
  border: 1px solid #fff;
}
.Mainscreen-terminal{
  display: none;
  width: 100%;
  height: 30%;
  background-color: black;
}
.Mainscreen-terminal h3{
  color: #fff;
  margin-left: 10px;
} 
.NC_terminaloutput{
  width: 100%;
  height: auto;
  margin-top: 20px;
  
}
.NC_terminaloutput p{
  color: white;
  width: 90%;
}
.Complementary_terminaloutput{
  width: 100%;
  height: auto;
  margin-top: 20px;
  
}
.Complementary_terminaloutput p{
  color: white;
  width: 90%;
}
.GC_terminaloutput{
  width: 100%;
  height: auto;
  margin-top: 20px;
  
}
.GC_terminaloutput p{
  color: white;
  width: 90%;
}
.Transcription_terminaloutput{
  width: 100%;
  height: auto;
  margin-top: 20px;
  
}
.Transcription_terminaloutput p{
  color: white;
  width: 90%;
}