      *{
        margin: 0;
        padding: 0;
      }
      a{
        text-decoration: none;
        color: black;
      }
      /* Style for the navigation bar */
      .navbar {
        
        overflow: hidden;
        height: 30px;
        border-bottom: 1px solid grey;
      }
      
      /* Style for the navigation bar links */
      .navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
      }
      
      /* Style for the hover effect */
      .navbar a:hover {
        background-color: grey;
      }
      .sidebar{
        background-color: #fff;
        width: 15%;
        height: 100vh;  
        position: fixed;
        top: 0;
        padding-right: 2%;
        margin-top: 31px;
        
        border-right: 1px solid grey;
        
    }
    .shortcut-links{
      margin-left: 10px;
    }
    .shortcut-links a{
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-bottom: 7px;
        width: fit-content;
        flex-wrap: wrap;
    }


    .sidebar h3{
        color: black;
        cursor: pointer;
    }
    .subscribed-list{
      margin-left: 10px;
    }
    .subscribed-list a{
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        margin-left: 20px;
        width: fit-content;
        flex-wrap: wrap;
    }
